@import "../../shared/styles/colors.scss";


.container {
    grid-area: AS;
    background-color: $primary-color;
    padding-top: 20px;

    &{
      .logoImg {
        width:110px;
        height:80px;
      }

    }

    .menu-container{
      display: flex;
      align-items: center;
      justify-content: center;

      .menu-link {
        .icon-search:before,.icon-star-empty:before,
        .icon-menu:before,.icon-bank:before,
        .icon-sliders:before,.icon-comment:before {
          font-size: 32px;
          color: $white-color;
          padding: 20px;
        }

    }


    }


}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

    img{
      display:flex;
      align-items:center;
    }
}


