.container{
  padding: 0 10px;

  .profile-img{
    width: 30px;
    height: 30px;
    border: 2px solid #125D79;
    border-radius: 20px;
    padding: 5px;

    &:hover{
      opacity: 0.3;
      transition: .2s all;
    }
  }
}
