
$primary-color: #165C7D;
$primary-dark-color: #012F44;
$button-color: #165C7D;
$secondary-color: #e7eef1;
$backgroundContent-color: #e7eef1;
$tertiary-color: #A2BECC;
$mute-color: #787878;
$mute-intermediary-color: #889499;
$mute-secondary-color: #C4CCCF;
$white-color: #fff;
$green-color: #58ec9d;
$red-color: #FF0000;
$danger-color: #C13018;
$black-color: #101213;
$title-color: #2e3031;
$success-color: #00C246;


