
.icon-search:before { content: '\e800'; } /* '' */
.icon-star-empty:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
